# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Pp]ackages/com.unity.package-manager/
UserSettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db

# Visual Studio / Rider
.vscode/
.idea/
*.suo
*.tmp
*.userprefs
